{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Timeout Test made by Mika</h1>
    </div>

    {% if events|length > 0 %}
        <div>List of events:</div>
        <ul>
        {% for event in events %}
            <li>{{ event.title }}, booked for {{ event.bookedFor|date('Y/m/d H:i') }}, @ {{ event.venue.name }}, number of attendees: {{ event.users|length }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <div>You haven't created any events yet.</div>
    {% endif %}

    <a href="{{ path('create_event') }}">Create a new event</a>
{% endblock %}